.border-top{
    background-color: #36454F;
    color : white !important;
}
.footertext{
    display : flex ;
    justify-content: center ;
}
.footergap{
    gap: 9rem;
}
.riv{
    margin-left: 1rem;
    /* font-family: 'Montserrat', sans-serif; */
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'MyCustomFont', sans-serif; 
}
.footbackkk{
    background-color: black;
    width : 100% ;
    display : flex ;
    justify-content: center ;
    align-items: center ;
    text-align: center ;
}