body {
    margin : 0 ;
    padding : 0 ;
}
.nav{
}
.navcoolor{
    /* background-image: url("navbarim.png"); */
    background-color: rgb(233, 233, 233);
    /* color : red ; */
    background-size: cover ;
    margin-top: -0.5rem ;
    /* border: 1px solid black; */
}
.navabraAlignment{
    display : flex ;
    justify-content: space-between;
    align-items: center ;
    width : 100% ;
    /* background-color: red; */
    text-align: center ;
}

.Men {
    /* color : rgb(0, 0, 0) !important; */
    /* background-color: rgb(255, 234, 0); */
    /* padding : 0.5rem ; */
    transition-duration: 1s;
    display: flex ;;
    /* margin-top: 0rem; */
    margin : 1rem ;
    /* scale : 1.3 ; */
    /* border-radius: 10rem ; */
    /* border-bottom: 0.1rem solid black; */
}
.Men:hover{
   /* color : black !important ; */
   /* background-color: rgb(0, 0, 0);  */
   /* border-radius: 50% ; */
   transition-duration: 0.3s;
   /* scale: 1.6 ; */

}
.logoimage{
    height : 2rem ;
    width: 2rem;

}
.addtocart{
    color : black ;
    transition-duration: 0.2s;  
    /* margin-left: 1rem; */
    /* scale : 1.4 ; */
}
.addtocart:hover{
    scale : 1.7 ;
    cursor: pointer;
    transition-duration: 0.2s;  
}
.searchin{
    border-radius: 1rem;
    padding : 0.3rem ;
    width : 13rem
}
/* Highlight active link */
.nav-link.active-link {
    color: black !important; /* Text color for active links */
    /* background-color: #000000 !important; Black background for active links */
    border-radius: 5px; /* Optional rounded corners */
    padding: 5px 10px; /* Optional padding for better appearance */
    transition: background-color 0.3 ease; /* Smooth transition */
    border-bottom: 0.1rem solid black ;
  }
  
  /* Optional hover effect for links */
  .nav-link:hover {
    color: #000000;
    /* background-color: #9b9898; */
    border-radius: 5px;
    /* transition: background-color 0.3s ease; */
  }
  