.boxgap{
    margin-left: 2rem;
}
@keyframes appear {
    from {
        opacity : 0.5 ;
        scale : 0.7 ;
    }
    to {
        opacity : 1 ;
        scale : 1.1 ;
    }
}

.block{
    animation : appear 4s linear ;
    animation-timeline: view(0%);
    transition-duration: 0.3s;
}
.block:hover {
    scale : 1.5 ;
    transition-duration: 0.3s;
}
.imagee:hover{
    scale : 1.1 ;
    transition-duration: 0.3s;
    opacity : 1.2 ;
    animation : 1s shapeofImage 1s  linear infinite ;
}

.imagee{
    scale : 1 ;
    /* transition-duration: 0.3s; */
    opacity : 1 ;
    /* animation : shapeofImage 4s linear infinite ; */
    transition-duration: 0.3s;
    margin-bottom:1rem ;
}

.title{
    display: flex;
    margin-top : 1rem !important ;
}
 .cardtext{
  font-size: 1.5rem;
}
.contant{
    display : flex ;
    text-align: center ;
    justify-content:center;
}

